{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{#   Edited by: Ionut Ciobanu #}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {# Use the same auth card shell so password changes read like login/signup. #}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <div class="card auth-card shadow-sm border-0 rounded-4">
                <div class="card-body p-4 p-md-5">
                    {% element h1 %}
                        {% trans "Change Password" %}
                    {% endelement %}
                    {% url 'account_change_password' as action_url %}
                    {% element form form=form method="post" action=action_url %}
                        {% slot body %}
                            {% csrf_token %}
                            {{ redirect_field }}
                            {# Hide labels to mirror the compact login form layout. #}
                            {% element fields form=form unlabeled=True %}
                            {% endelement %}
                        {% endslot %}
                        {% slot actions %}
                            {% element button type="submit" %}
                                {% trans "Change Password" %}
                            {% endelement %}
                            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        {% endslot %}
                    {% endelement %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
