{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container py-5">

    <h1 id="h_head" display-2">Request Event Refund</h1>
    <p class="lead">If you are unable to attend an event you have booked, you can request a refund at any time here.</p>

    <hr class="my-5">
</div>

 <!-- This div structures the footer of the page -->

    <footer class="container-fluid bg-light py-3 mt-5">
        <div class="text-center">
            <p class="mb-0">&copy; 2026 Student Event Management System. All rights reserved.</p>
        </div>
    </footer>

{% endblock %}